In [1]:
!pip install requests

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.27.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.26.9)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.0.4)

In [2]:
!pip install beautifulsoup4

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4) (2.3.1)

In [34]:
!pip install html5lib

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: html5lib in c:\users\tinul piumika\appdata\roaming\python\python39\site-packages (1.1)
Requirement already satisfied: webencodings in c:\programdata\anaconda3\lib\site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\programdata\anaconda3\lib\site-packages (from html5lib) (1.16.0)

In [1]:
#import libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd
import bs4
import html5lib

In [10]:
#scrape the data from url
url = 'https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States'
result= requests.get(url).text
#print(result)

In [11]:
doc = BeautifulSoup(result, 'html.parser')

In [12]:
#doc.prettify()

In [13]:
res = doc.find(class_='noprint')
res

In [14]:
table=doc.findAll('table')
len(table)

19

In [2]:
url = 'https://www.imdb.com/chart/top/'

In [3]:
df = pd.read_html(url, flavor='bs4')

In [2]:
irwa_url = 'https://odel.lk/deal-products'

In [6]:
df[0].head()

,Unnamed: 0,Rank & Title,IMDb Rating,Your Rating,Unnamed: 4
0,NaN,1. The Shawshank Redemption (1994),9.2,12345678910 NOT YET RELEASED Seen,NaN
1,NaN,2. The Godfather (1972),9.2,12345678910 NOT YET RELEASED Seen,NaN
2,NaN,3. The Dark Knight (2008),9.0,12345678910 NOT YET RELEASED Seen,NaN
3,NaN,4. The Godfather Part II (1974),9.0,12345678910 NOT YET RELEASED Seen,NaN
4,NaN,5. 12 Angry Men (1957),9.0,12345678910 NOT YET RELEASED Seen,NaN

In [20]:
df[1].to_excel('panda.xlsx')